@media screen and (min-width: 40em) {
  .vtex-product-customizer__options {
    background-color: transparent;
  }
}

.vtex-product-customizer {
  padding-bottom: 140px;
}

.vtex-product-customizer__actions .vtex-button {
  width: 100%;
}

.vtex-product-customizer__actions .actions--change-toppings .vtex-button {
  padding: 0;
  text-align: left;
}

.vtex-product-customizer__single-choice .single-choice__image-container {
  color: #1346d8;
  max-width: 72px;
  position: relative;
}

.single-choice__description {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  overflow: hidden;
}

.vtex-product-customizer__single-choice.selected .single-choice__image-container .single-choice__icon-container {
  display: block;
}

.vtex-product-customizer__single-choice.selected .single-choice__image-container .vtex__icon-success {
  right: 5px;
  bottom: 10px;
  position: absolute;
}

.vtex-product-customizer__single-choice.selected .single-choice__image-container img {
  width: 100%;
}

/* Fixes gap when modal has a fixed positioned element inside, makes it feel like a new view on mobile */
div.vtex-modal__overlay {
  padding: 0;
}

.vtex-modal__overlay .vtex-modal__modal {
  padding: 2rem 1rem 0 !important; /* sorry, element has inline styles */
}

/* Add to cart button */
.vtex-product-customizer__change-ingredients + .actions--add-to-cart {
  position: sticky;
}

.actions--add-to-cart .vtex-price-selling {
  color: white;
}

/* Quantity selector */
.multiple-choice__actions input {
  width: 2.5rem;
}
.multiple-choice__actions button {
  background: transparent;
  width: 1.75rem !important; /* inline styles so important is needed */
}
.multiple-choice__price .vtex-price-selling {
  padding: 0;
}
.multiple-choice__actions button.o-0 {
  opacity: .2;
}
