.multipleItemQuantitySelector {
}

.multipleItemQuantitySelector button {
  background: transparent;
}
.multipleItemQuantitySelector input {
  background: transparent;
}

.itemContainer {
}

.inputValueOptionBox {}

.booleanInputValue {
}

.optionsInputValue {
}

.optionsInputValueLabelContainer{
}

.optionsInputValueLabel{
}

.optionsInputValueDropdown {
}

.optionsInputValueOptionBoxContainer {
}

.textInputValue {
}

.frameAround {
  bottom: -0.25rem;
  top: -0.25rem;
  left: -0.25rem;
  right: -0.25rem;
}